<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <!-- disable iPhone inital scale -->
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="<?=StaticDir?>dist/css/base.css"/>
    <link rel="stylesheet" href="<?=StaticDir?>dist/css/style.css"/>
    <!-- html5.js for IE less than 9 -->
    <!--[if lt IE 9]>
    <script src="<?=StaticDir?>dist/script/html5.js"></script>
    <![endif]-->
    <!-- css3-mediaqueries.js for IE less than 9 -->
    <!--[if lt IE 9]>
    <script src="<?=StaticDir?>dist/script/css3-mediaqueries.js"></script>
    <![endif]-->
</head>
<body>

<header>
    <a href="/" class="ms-logo">
        <img src="<?=StaticDir?>dist/images/logo.png" alt=""/>
        <p>生活不止眼前的苟且，还有诗和远方的田野</p>
    </a>
</header>

<div class="ms-nav">
    <div class="container f-clearfix">
        <nav>
            <a href="/">首页</a>
            <a href="/">博客</a>
            <a href="/">收藏夹</a>
            <a href="/">闲言碎语</a>
            <a href="/">碎碎念</a>
        </nav>
        <div class="ms-search">
            <form action="">
                <input type="text" value="" placeholder="请输入您要查找的内容" name="" />
                <label><i class="iconfont">&#xe603;</i><input type="submit" /></label>
            </form>
        </div>
    </div>
</div>
